<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=poweritsolution.database.windows.net,1433;Initial Catalog=budget_tracker;Persist Security Info=False;User ID=pits;Password=powerit@1234;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
